body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-169px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:285px;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:144px;
  width:826px;
  height:285px;
  display:flex;
}
#u1899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1900 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:330px;
  width:213px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1900 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u1900_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:34px;
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:283px;
  width:594px;
  height:34px;
  display:flex;
}
#u1901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:242px;
  width:237px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1902 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u1902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
