body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-56px;
  width:1216px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  height:881px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:27px;
  width:1096px;
  height:881px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2290 .text {
  position:absolute;
  align-self:flex-start;
  padding:24px 32px 24px 32px;
  box-sizing:border-box;
  width:100%;
}
#u2290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:206px;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:179px;
  width:256px;
  height:206px;
  display:flex;
}
#u2291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:206px;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:179px;
  width:260px;
  height:206px;
  display:flex;
}
#u2292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:206px;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:620px;
  width:521px;
  height:206px;
  display:flex;
}
#u2293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:206px;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:620px;
  width:533px;
  height:206px;
  display:flex;
}
#u2294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:206px;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:401px;
  width:343px;
  height:206px;
  display:flex;
}
#u2295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:206px;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:401px;
  width:344px;
  height:206px;
  display:flex;
}
#u2296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:206px;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:401px;
  width:349px;
  height:206px;
  display:flex;
}
#u2297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:206px;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:179px;
  width:247px;
  height:206px;
  display:flex;
}
#u2298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:206px;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:179px;
  width:256px;
  height:206px;
  display:flex;
}
#u2299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:206px;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:841px;
  width:1068px;
  height:206px;
  display:flex;
}
#u2300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:423px;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1062px;
  width:256px;
  height:423px;
  display:flex;
}
#u2301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:206px;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:1062px;
  width:260px;
  height:206px;
  display:flex;
}
#u2302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:206px;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:1062px;
  width:238px;
  height:206px;
  display:flex;
}
#u2303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:206px;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:1062px;
  width:261px;
  height:206px;
  display:flex;
}
#u2304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:206px;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:1279px;
  width:260px;
  height:206px;
  display:flex;
}
#u2305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:206px;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:1279px;
  width:238px;
  height:206px;
  display:flex;
}
#u2306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:206px;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:1279px;
  width:261px;
  height:206px;
  display:flex;
}
#u2307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:28px;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:86px;
  width:94px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:28px;
}
#u2308 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2308_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:127px;
  width:56px;
  height:22px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2309 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2309_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:187px;
  width:17px;
  height:17px;
  display:flex;
  font-family:'anticon', 'anticon Medium', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u2310 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2310_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:40px;
  width:17px;
  height:17px;
  display:flex;
  font-family:'anticon', 'anticon Medium', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u2311 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2311_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:40px;
  width:105px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u2312 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u2312_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
