body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-75px;
  width:1057px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1057px;
  height:529px;
}
#u3709 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:123px;
  width:1057px;
  height:529px;
  display:flex;
}
#u3709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:224px;
}
#u3710 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:684px;
  width:648px;
  height:224px;
  display:flex;
}
#u3710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:676px;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:941px;
  width:739px;
  height:676px;
  display:flex;
}
#u3711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
